# {{ ansible_managed }}

#
#

listen=YES
#

#listen_ipv6=YES
#

anonymous_enable=NO
#

local_enable=YES
#

write_enable=YES
#

#local_umask=022
#

#anon_upload_enable=YES
#

#anon_mkdir_write_enable=YES
#

#dirmessage_enable=YES
#

use_localtime=YES
#

xferlog_enable=YES
#

connect_from_port_20=YES
#

#chown_uploads=YES
#chown_username=whoever


#xferlog_file=/var/log/vsftpd.log
#

#xferlog_std_format=YES
#

#idle_session_timeout=600
#
#data_connection_timeout=120
#
#nopriv_user=ftpsecure
#
#async_abor_enable=YES
#

#ascii_upload_enable=YES
#ascii_download_enable=YES
#

#ftpd_banner=Welcome to blah FTP service.
#

#deny_email_enable=YES
# (default follows)
#banned_email_file=/etc/vsftpd.banned_emails
#

chroot_local_user=YES

#chroot_local_user=YES
#chroot_list_enable=YES
# (default follows)
#chroot_list_file=/etc/vsftpd.chroot_list
#


pam_service_name=vsftpd

allow_writeable_chroot=YES

local_root= {{ vsftpd_path }}

{% for key, value in vsftpd_config.iteritems() %}
{{ key }}={{ value }}
{% endfor %}
